<html>
<head>
<title>{{pagetitle}}</title>
</head>
<body>
  {{>header}}  //This is way to include header.hbs in this file//
<p>some text here</p>
</body>
{{>footer}} //This is way to include footer.hbs in this file//
</html>
